    <div>
    <% if(rs.length > 0) { %>
        <table border="1">
            <tr><th>Name</th> <th>Email</th></tr>
            <% for (var i=0; rs.length > i; i++) { %>
                <tr>
                 <td><a href="/accounts/?account_id=<%= rs[i].user_id %>"> <%= rs[i].Lname %>, <%= rs[i].Fname %></a></td><td><a href="/accounts/?account_id=<%= rs[i].account_id %>"> <%= rs[i].EMail %></a></td>
                </tr>
            <% } %>

            <% for (var i=0; rs.length > i; i++) { %>
            <tr>

            </tr>
            <% } %>
        </table>
    <% } else { %>
         No accounts are entered into the Account database table.
    <% } %>
    </div>

    <div style="margin-top:10px;">
        <a href="/account/create">Create New Account</a>
    </div>